# VA City Coordinate Scraping

In [91]:
import requests
from typing import Any

def fetch(url: str) -> requests.Response:
    response = requests.get(
        url,
        headers={"User-Agent": "Mozilla/5.0"},
        timeout=10
    )
    response.raise_for_status()
    return response

In [92]:
from bs4 import BeautifulSoup
import pandas as pd
from io import StringIO

def parse_locations(html: str) -> pd.DataFrame:
    soup = BeautifulSoup(html, "html.parser")
    text = soup.find_all("table", class_="tableizer-table")
    return pd.read_html(StringIO(str(text)))[1]

def parse_populations(html: str) -> pd.DataFrame:
    soup = BeautifulSoup(html, "html.parser")
    text = soup.find(id="ts")
    return pd.read_html(StringIO(str(text)))[0]

In [93]:
LOCATIONS_URL = "https://www.mapsofworld.com/usa/states/virginia/lat-long.html"
POPULATION_URL = "https://www.citypopulation.de/en/usa/cities/virginia/"

locations_html = fetch(LOCATIONS_URL).text
locations_df = parse_locations(locations_html)

populations_html = fetch(POPULATION_URL).text
populations_df = parse_populations(populations_html)

print(locations_df.head())
print(populations_df.head())

          Location  Latitude  Longitude
0    Abingdon town     36.71     -81.97
1     Accomac town     37.72     -75.67
2           Adwolf     36.79     -81.59
3     Alberta town     36.86     -77.89
4  Alexandria city     38.82     -77.09
                  Name Status  Population Census (C) 1990-04-01  \
0           Alexandria   City                            111183
1            Annandale    CDP                             34582
2            Arlington   Cnty                            170895
3              Ashburn    CDP                              2128
4  Bailey's Crossroads    CDP                             19507

   Population Census (C) 2000-04-01  Population Census (C) 2010-04-01  \
0                            128278                            139998
1                             38212                             41008
2                            189211                            207627
3                             25279                             39549
4                             23166                             23643

   Population Census (C) 2020-04-01  Population Estimate (E) 2024-07-01  Area  \
0                            159463                              159102  3868
1                             43363                               44360  2033
2                            238643                              251820  6733
3                             46349                               49240  3961
4                             24749                               25220   531

  Unnamed: 8
0          →
1          →
2          →
3          →
4          →

## Locations

In [94]:
locations_df.dtypes

Location      object
Latitude     float64
Longitude    float64
dtype: object

In [95]:
def isolate_name(name: str) -> str:
  word_list = name.split()
  match word_list:
    # 'city' not in names, but 'City' is
    case [*_, last] if last in ["city", "town"]:
      return " ".join(word_list[:-1])
    case _:
      return name

In [96]:
locations_df['Location'] = locations_df['Location'].apply(isolate_name)

In [97]:
locations_df['Location'].value_counts()

Location
Rose Hill        2
Wakefield        2
Woodlawn         2
Belle Haven      2
Oak Level        1
                ..
Floyd            1
Forest           1
Fort Belvoir     1
Fort Chiswell    1
Ferrum           1
Name: count, Length: 588, dtype: int64

In [98]:
locations_df[locations_df['Location'].duplicated(keep=False)]

        Location  Latitude  Longitude
29   Belle Haven     38.78     -77.06
30   Belle Haven     37.56     -75.83
459    Rose Hill     38.79     -77.11
460    Rose Hill     36.67     -83.38
557    Wakefield     38.82     -77.24
558    Wakefield     36.97     -76.99
584     Woodlawn     38.73     -77.11
585     Woodlawn     36.74     -80.82

In [99]:
locations_df = locations_df.drop_duplicates(subset=['Location'])

In [100]:
locations_df.value_counts()

Location    Latitude  Longitude
Abingdon    36.71     -81.97       1
Accomac     37.72     -75.67       1
Adwolf      36.79     -81.59       1
Alberta     36.86     -77.89       1
Alexandria  38.82     -77.09       1
                                  ..
Wyndham     37.69     -77.61       1
Wytheville  36.95     -81.09       1
Yogaville   37.67     -78.69       1
Yorkshire   38.79     -77.45       1
Yorktown    37.24     -76.51       1
Name: count, Length: 588, dtype: int64

In [101]:
locations_df = locations_df.round(1)

## Populations

In [102]:
populations_df.dtypes

Name                                  object
Status                                object
Population Census (C) 1990-04-01       int64
Population Census (C) 2000-04-01       int64
Population Census (C) 2010-04-01       int64
Population Census (C) 2020-04-01       int64
Population Estimate (E) 2024-07-01     int64
Area                                   int64
Unnamed: 8                            object
dtype: object

In [103]:
populations_df.columns

Index(['Name', 'Status', 'Population Census (C) 1990-04-01',
       'Population Census (C) 2000-04-01', 'Population Census (C) 2010-04-01',
       'Population Census (C) 2020-04-01',
       'Population Estimate (E) 2024-07-01', 'Area', 'Unnamed: 8'],
      dtype='object')

In [104]:
populations_df = populations_df.drop(columns=[
    'Status',
    'Population Census (C) 1990-04-01',
    'Population Census (C) 2000-04-01',
    'Population Census (C) 2010-04-01',
    'Population Census (C) 2020-04-01',
    'Area',
    'Unnamed: 8'
    ])

populations_df.head()

                  Name  Population Estimate (E) 2024-07-01
0           Alexandria                              159102
1            Annandale                               44360
2            Arlington                              251820
3              Ashburn                               49240
4  Bailey's Crossroads                               25220

In [105]:
populations_df = populations_df.rename(columns={'Name': 'Location', 'Population Estimate (E) 2024-07-01': 'Population Estimate'})

In [106]:
populations_df.columns

Index(['Location', 'Population Estimate'], dtype='object')

In [107]:
merged_df = pd.merge(locations_df, populations_df, how='inner', on='Location')
merged_df.head(20)

           Location  Latitude  Longitude  Population Estimate
0        Alexandria      38.8      -77.1               159102
1         Annandale      38.8      -77.2                44360
2         Arlington      38.9      -77.1               251820
3           Ashburn      39.0      -77.5                49240
4        Blacksburg      37.2      -80.4                45452
5        Brambleton      39.0      -77.5                29280
6          Buckhall      38.7      -77.4                22170
7             Burke      38.8      -77.3                42850
8       Cave Spring      37.2      -80.0                27530
9       Centreville      38.8      -77.4                74530
10        Chantilly      38.9      -77.4                24840
11  Charlottesville      38.0      -78.5                44767
12      Cherry Hill      38.6      -77.3                26950
13       Chesapeake      36.7      -76.3               254997
14          Chester      37.4      -77.4                24450
15   Christiansburg      37.1      -80.4                22632
16         Culpeper      38.5      -78.0                21464
17        Dale City      38.6      -77.4                74690
18         Danville      36.6      -79.4                41993
19        Fair Oaks      38.9      -77.4                35680

In [ ]:
NUM_CITIES = 40

cities_df = merged_df.sort_values(by='Population Estimate', ascending=False).head(NUM_CITIES)

In [109]:
cities_df

           Location  Latitude  Longitude  Population Estimate
60   Virginia Beach      36.8      -76.0               454808
13       Chesapeake      36.7      -76.3               254997
2         Arlington      38.9      -77.1               251820
48         Richmond      37.5      -77.5               233655
43          Norfolk      36.9      -76.2               231105
42     Newport News      37.1      -76.5               183056
0        Alexandria      38.8      -77.1               159102
25          Hampton      37.0      -76.3               137596
58          Suffolk      36.7      -76.6               103105
49          Roanoke      37.3      -80.0                97912
46       Portsmouth      36.9      -76.4                96482
34        Lynchburg      37.4      -79.2                80301
17        Dale City      38.6      -77.4                74690
9       Centreville      38.8      -77.4                74530
47           Reston      39.0      -77.4                65280
36           McLean      38.9      -77.2                51900
26     Harrisonburg      38.4      -78.9                51164
30         Leesburg      39.1      -77.6                49831
59         Tuckahoe      37.6      -77.6                49350
3           Ashburn      39.0      -77.5                49240
29       Lake Ridge      38.7      -77.3                48330
4        Blacksburg      37.2      -80.4                45452
11  Charlottesville      38.0      -78.5                44767
1         Annandale      38.8      -77.2                44360
32      Linton Hall      38.8      -77.6                44320
35         Manassas      38.8      -77.5                43616
7             Burke      38.8      -77.3                42850
18         Danville      36.6      -79.4                41993
39   Mechanicsville      37.6      -77.4                40810
53     South Riding      38.9      -77.5                37970
44           Oakton      38.9      -77.3                37820
19        Fair Oaks      38.9      -77.4                35680
45       Petersburg      37.2      -77.4                34058
52       Short Pump      37.6      -77.6                33130
54      Springfield      38.8      -77.2                31700
56         Sterling      39.0      -77.4                31410
23   Fredericksburg      38.3      -77.5                29992
5        Brambleton      39.0      -77.5                29280
63       Winchester      39.2      -78.2                27800
8       Cave Spring      37.2      -80.0                27530

In [110]:
cities_df.reset_index(drop=True, inplace=True)

In [111]:
cities_df

           Location  Latitude  Longitude  Population Estimate
0    Virginia Beach      36.8      -76.0               454808
1        Chesapeake      36.7      -76.3               254997
2         Arlington      38.9      -77.1               251820
3          Richmond      37.5      -77.5               233655
4           Norfolk      36.9      -76.2               231105
5      Newport News      37.1      -76.5               183056
6        Alexandria      38.8      -77.1               159102
7           Hampton      37.0      -76.3               137596
8           Suffolk      36.7      -76.6               103105
9           Roanoke      37.3      -80.0                97912
10       Portsmouth      36.9      -76.4                96482
11        Lynchburg      37.4      -79.2                80301
12        Dale City      38.6      -77.4                74690
13      Centreville      38.8      -77.4                74530
14           Reston      39.0      -77.4                65280
15           McLean      38.9      -77.2                51900
16     Harrisonburg      38.4      -78.9                51164
17         Leesburg      39.1      -77.6                49831
18         Tuckahoe      37.6      -77.6                49350
19          Ashburn      39.0      -77.5                49240
20       Lake Ridge      38.7      -77.3                48330
21       Blacksburg      37.2      -80.4                45452
22  Charlottesville      38.0      -78.5                44767
23        Annandale      38.8      -77.2                44360
24      Linton Hall      38.8      -77.6                44320
25         Manassas      38.8      -77.5                43616
26            Burke      38.8      -77.3                42850
27         Danville      36.6      -79.4                41993
28   Mechanicsville      37.6      -77.4                40810
29     South Riding      38.9      -77.5                37970
30           Oakton      38.9      -77.3                37820
31        Fair Oaks      38.9      -77.4                35680
32       Petersburg      37.2      -77.4                34058
33       Short Pump      37.6      -77.6                33130
34      Springfield      38.8      -77.2                31700
35         Sterling      39.0      -77.4                31410
36   Fredericksburg      38.3      -77.5                29992
37       Brambleton      39.0      -77.5                29280
38       Winchester      39.2      -78.2                27800
39      Cave Spring      37.2      -80.0                27530

In [112]:
cities_df = cities_df.drop(columns='Population Estimate') # Population not needed
cities_df

           Location  Latitude  Longitude
0    Virginia Beach      36.8      -76.0
1        Chesapeake      36.7      -76.3
2         Arlington      38.9      -77.1
3          Richmond      37.5      -77.5
4           Norfolk      36.9      -76.2
5      Newport News      37.1      -76.5
6        Alexandria      38.8      -77.1
7           Hampton      37.0      -76.3
8           Suffolk      36.7      -76.6
9           Roanoke      37.3      -80.0
10       Portsmouth      36.9      -76.4
11        Lynchburg      37.4      -79.2
12        Dale City      38.6      -77.4
13      Centreville      38.8      -77.4
14           Reston      39.0      -77.4
15           McLean      38.9      -77.2
16     Harrisonburg      38.4      -78.9
17         Leesburg      39.1      -77.6
18         Tuckahoe      37.6      -77.6
19          Ashburn      39.0      -77.5
20       Lake Ridge      38.7      -77.3
21       Blacksburg      37.2      -80.4
22  Charlottesville      38.0      -78.5
23        Annandale      38.8      -77.2
24      Linton Hall      38.8      -77.6
25         Manassas      38.8      -77.5
26            Burke      38.8      -77.3
27         Danville      36.6      -79.4
28   Mechanicsville      37.6      -77.4
29     South Riding      38.9      -77.5
30           Oakton      38.9      -77.3
31        Fair Oaks      38.9      -77.4
32       Petersburg      37.2      -77.4
33       Short Pump      37.6      -77.6
34      Springfield      38.8      -77.2
35         Sterling      39.0      -77.4
36   Fredericksburg      38.3      -77.5
37       Brambleton      39.0      -77.5
38       Winchester      39.2      -78.2
39      Cave Spring      37.2      -80.0

## NOAA Regions
In response to rate limits imposed on the NOAA weather alerts API, optimization using forecast zones is necessary to lower total API requests per hour.

In [113]:
NOAA_POINTS_URL = 'https://api.weather.gov/points/'

In [114]:
location = tuple(cities_df.iloc[0])
location

('Virginia Beach', np.float64(36.8), np.float64(-76.0))

In [115]:
json = fetch(f"{NOAA_POINTS_URL}{location[1]},{location[2]}").json()
print(f"JSON for {location[0]}:\n{json}")

JSON for Virginia Beach:
{'@context': ['https://geojson.org/geojson-ld/geojson-context.jsonld', {'@version': '1.1', 'wx': 'https://api.weather.gov/ontology#', 's': 'https://schema.org/', 'geo': 'http://www.opengis.net/ont/geosparql#', 'unit': 'http://codes.wmo.int/common/unit/', '@vocab': 'https://api.weather.gov/ontology#', 'geometry': {'@id': 's:GeoCoordinates', '@type': 'geo:wktLiteral'}, 'city': 's:addressLocality', 'state': 's:addressRegion', 'distance': {'@id': 's:Distance', '@type': 's:QuantitativeValue'}, 'bearing': {'@type': 's:QuantitativeValue'}, 'value': {'@id': 's:value'}, 'unitCode': {'@id': 's:unitCode', '@type': '@id'}, 'forecastOffice': {'@type': '@id'}, 'forecastGridData': {'@type': '@id'}, 'publicZone': {'@type': '@id'}, 'county': {'@type': '@id'}}], 'id': 'https://api.weather.gov/points/36.8,-76', 'type': 'Feature', 'geometry': {'type': 'Point', 'coordinates': [-76, 36.8]}, 'properties': {'@id': 'https://api.weather.gov/points/36.8,-76', '@type': 'wx:Point', 'cwa': 'AKQ', 'forecastOffice': 'https://api.weather.gov/offices/AKQ', 'gridId': 'AKQ', 'gridX': 101, 'gridY': 51, 'forecast': 'https://api.weather.gov/gridpoints/AKQ/101,51/forecast', 'forecastHourly': 'https://api.weather.gov/gridpoints/AKQ/101,51/forecast/hourly', 'forecastGridData': 'https://api.weather.gov/gridpoints/AKQ/101,51', 'observationStations': 'https://api.weather.gov/gridpoints/AKQ/101,51/stations', 'relativeLocation': {'type': 'Feature', 'geometry': {'type': 'Point', 'coordinates': [-76.023685, 36.77935]}, 'properties': {'city': 'Virginia Beach', 'state': 'VA', 'distance': {'unitCode': 'wmoUnit:m', 'value': 3117.8334508314}, 'bearing': {'unitCode': 'wmoUnit:degree_(angle)', 'value': 42}}}, 'forecastZone': 'https://api.weather.gov/zones/forecast/VAZ098', 'county': 'https://api.weather.gov/zones/county/VAC810', 'fireWeatherZone': 'https://api.weather.gov/zones/fire/VAZ098', 'timeZone': 'America/New_York', 'radarStation': 'KAKQ'}}

In [116]:
# Get the forecast zone
json['properties']['forecastZone'].split('/')[-1]

'VAZ098'

In [117]:
def get_forecast_zone(row: pd.Series) -> str:
    json = fetch(f"{NOAA_POINTS_URL}{row['Latitude']},{row['Longitude']}").json()
    return json['properties']['forecastZone'].split('/')[-1]

cities_df['NOAA Forecast Zone'] = cities_df.apply(get_forecast_zone, axis=1)
cities_df

           Location  Latitude  Longitude NOAA Forecast Zone
0    Virginia Beach      36.8      -76.0             VAZ098
1        Chesapeake      36.7      -76.3             VAZ097
2         Arlington      38.9      -77.1             VAZ054
3          Richmond      37.5      -77.5             VAZ515
4           Norfolk      36.9      -76.2             VAZ095
5      Newport News      37.1      -76.5             VAZ524
6        Alexandria      38.8      -77.1             VAZ053
7           Hampton      37.0      -76.3             ANZ632
8           Suffolk      36.7      -76.6             VAZ096
9           Roanoke      37.3      -80.0             VAZ022
10       Portsmouth      36.9      -76.4             ANZ638
11        Lynchburg      37.4      -79.2             VAZ045
12        Dale City      38.6      -77.4             VAZ527
13      Centreville      38.8      -77.4             VAZ053
14           Reston      39.0      -77.4             VAZ506
15           McLean      38.9      -77.2             VAZ053
16     Harrisonburg      38.4      -78.9             VAZ026
17         Leesburg      39.1      -77.6             VAZ505
18         Tuckahoe      37.6      -77.6             VAZ515
19          Ashburn      39.0      -77.5             VAZ506
20       Lake Ridge      38.7      -77.3             VAZ527
21       Blacksburg      37.2      -80.4             VAZ014
22  Charlottesville      38.0      -78.5             VAZ037
23        Annandale      38.8      -77.2             VAZ053
24      Linton Hall      38.8      -77.6             VAZ526
25         Manassas      38.8      -77.5             VAZ527
26            Burke      38.8      -77.3             VAZ053
27         Danville      36.6      -79.4             VAZ044
28   Mechanicsville      37.6      -77.4             VAZ516
29     South Riding      38.9      -77.5             VAZ506
30           Oakton      38.9      -77.3             VAZ053
31        Fair Oaks      38.9      -77.4             VAZ053
32       Petersburg      37.2      -77.4             VAZ081
33       Short Pump      37.6      -77.6             VAZ515
34      Springfield      38.8      -77.2             VAZ053
35         Sterling      39.0      -77.4             VAZ506
36   Fredericksburg      38.3      -77.5             VAZ056
37       Brambleton      39.0      -77.5             VAZ506
38       Winchester      39.2      -78.2             VAZ028
39      Cave Spring      37.2      -80.0             VAZ022

In [119]:
cities_df['NOAA Forecast Zone'].value_counts()

NOAA Forecast Zone
VAZ053    8
VAZ506    5
VAZ527    3
VAZ515    3
VAZ022    2
VAZ054    1
VAZ097    1
VAZ098    1
ANZ632    1
VAZ524    1
VAZ095    1
VAZ096    1
VAZ045    1
ANZ638    1
VAZ026    1
VAZ505    1
VAZ014    1
VAZ037    1
VAZ526    1
VAZ044    1
VAZ516    1
VAZ081    1
VAZ056    1
VAZ028    1
Name: count, dtype: int64

In [122]:
len(cities_df['NOAA Forecast Zone'].unique())

24

API requests get cut down by almost half when using forecast zones!

## Saving CSV

In [118]:
from pathlib import Path

folder_name = 'data'
file_name = 'cities.csv'

folder = Path('..') / folder_name
folder.mkdir(parents=True, exist_ok=True)

file_path = folder / file_name
cities_df.to_csv(file_path, index=False)